        *{
            margin: 0;
            padding: 0;
        }
        
        body{
            background: rgb(22, 175, 150);
        }

        .credits{
            font-size: 18px;
            position: relative;
            top: 550px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }
        .background{
            height: 100vh;
            color: white;
            font-family: Arial, Helvetica, sans-serif;
        }

        .calculadora{
            position: absolute;
            background-color: rgb(255, 166, 0, 0.9);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 10px;
            padding: 15px;
        }
        .calculadora h1{
            text-align: center;
        }

        .botao{
            width: 50px;
            height: 50px;
            font-size: 25px;
            cursor: pointer;
            border: none;
            margin: 1.5px;
            border-radius: 5px;
        }

        .botao:hover{
            background-color: rgb(22, 175, 149, 0.9);
        }

        #resultado{
            background-color: white;
            width: 207px;
            height: 30px;
            margin: 5px;
            font-size: 25px;
            color: black;
            text-align: right;
            padding: 4px;
        }

        .creditos{
            text-align: center;
            position: static;
            padding-top: 43rem;
            font-family: sans-serif;
            font-size: 22px;
        }

        .copyright{
            font-size: 20px;
            color: white;
            text-shadow: 2px 2px 16px black;
            text-align: center;
            padding-top: 46rem;
        }